html {
    scroll-behavior: smooth;
}

body {
    position: relative;

    a 
    {color: var(--main-color)};
}

[class*="__container"] {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 33px;
}