.content {
    padding-top: 60px;
    // .content__container

    &__container {
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
        align-items: center;
    }

    // .content__text

    &__text {
        display: flex;
        flex-direction: column;
    }

    // .content__img

    &__img {
        flex-shrink: 0;
        max-width: 600px;
        img {
            width: 100%;
        }
    }
}
.text {

    // .text__title

    &__title {
        font-size: 32px;
        font-weight: 700;
        color: #2c2c2c;
        margin-bottom: 30px;
    }

    // .text__desc

    &__desc {
        max-width: 700px;
        font-size: 20px;
        line-height: 1.22;
        margin-bottom: 40px;
    }

    // .text__link

    &__link {
        padding: 10px 16px;
        background-color: #d81a73;
        max-width: 122px;
        border-radius: 5px;
        color: #FFF;
        position: relative;
        &::after {
            content: '→';

            position: absolute;
            right: 15px;
            top: 11px;
        }
    }
}
