.header {
    background-image: url('./../../img/header/bg.jpg');
    background-position: center center;
    // background-size: cover;
    background-repeat: no-repeat;
    height: 1201px;
    position: relative;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
    }

    &__nav {
        display: flex;
        align-items: center;
        column-gap: 24px;
        .nav {
            .nav__list {
                display: flex;
                align-items: center;
                column-gap: 45px;
            }
            .nav__link {
                color: var(--main-color);
                font-family: var(--main-font);
                font-size: 20px;
                font-weight: 600;
            }
        }
        .header__button {
            // text
            color: var(--secondary-color);
            font-family: var(--main-font);
            font-size: 20px;
            font-weight: 600;

            // background
            padding: 1px 16px 2px 16px;
            border-radius: 8px;
            background: #1E1E1E;
        }
    }

    &__content {
        padding-top: 113px;
    }

    &__caption {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        max-width: 556px;
        row-gap: 27px;

        .header__title {
            color: var(--main-color);
            font-family: var(--main-font);
            font-size: 40px;
            font-weight: 400;
        }
        .header__desc {
            color: var(--main-color);
            font-family: var(--main-font);
            font-size: 20px;
            font-weight: 400;
        }
        .header__button {
            color: var(--secondary-color);
            font-family: var(--main-font);
            font-size: 20px;
            font-weight: 600;

            // background
            padding: 7px 33px;
            border-radius: 8px;
            background: #1E1E1E;
        }
    }

    &__cards {
        .header__card-white {
            position: absolute;
            bottom: 17.9%;
            left: 20%;
            .card__text {
                color: var(--main-color);
                font-family: var(--main-font);
                font-size: 24px;
                font-weight: 500;
                max-width: 343px;
            }
        }
        .header__card-coffee {
            position: absolute;
            bottom: 14%;
            right: 28.5%;
            .card__text {
                color: var(--secondary-color);
                font-family: var(--main-font);
                font-size: 24px;
                font-weight: 500;
                max-width: 388px;
            }
        }
    }
}